@use '../../base/variables';
.benefits {
  background-color: variables.$color-light;
  &__title {
    text-align: center;
    color: variables.$color-secondary;
  }

  &__item {
    border-bottom: 2px solid variables.$color-primary;
    transition: max-height 0.3s ease, padding 0.3s ease;

    &--collapsed .benefits__content {
      max-height: 0;
      overflow: hidden;
      padding: 0;
    }

    &--collapsed .benefits__icon {
      transform: rotate(0deg);
    }

    &--expanded .benefits__content {
      max-height: 200px; /* Adjust based on content */
      margin-bottom: 20px;
    }

    &--expanded .benefits__icon {
      transform: rotate(180deg);
    }
    @media (min-width: variables.$breakpoint-md) {
      display: flex;
      justify-content: space-between;
      border: none;
    }
    // @media (min-width: variables.$breakpoint-lg) {
    // }
  }

  &__header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0.5rem;
    cursor: pointer;
  }

  &__subtitle {
    margin: 0;
    font-size: 1.2rem;
    color: variables.$color-secondary;
    display: flex;
    align-items: center;
    &--num {
      color: variables.$color-primary;
      display: block;
      width: 56px;
      font-size: 32px;
    }
  }
  &__arrow {
    display: flex;
    justify-content: flex-end;
  }
  &__icon {
    display: flex;
    justify-content: flex-end;
    font-size: 26px;
    transition: transform 0.3s ease;
    color: variables.$color-primary;
    @media (min-width: variables.$breakpoint-md) {
      display: none;
    }
  }
  &__icon-tablet {
    display: none;
    @media (min-width: variables.$breakpoint-md) {
      display: block;
      font-size: 26px;
      transition: transform 0.3s ease;
      color: variables.$color-primary;
    }
  }

  &__content {
    line-height: 1.4;
    transition: max-height 0.3s ease, padding 0.3s ease;
    max-width: 300px;
    p {
      color: variables.$color-secondary;
    }
    @media (min-width: variables.$breakpoint-md) {
      max-width: 364px;
    }
    @media (min-width: variables.$breakpoint-md) {
      max-width: 510px;
    }
  }
}
