@font-face {
	font-family: Mukta;
	src: url('../../assets/fonts/Mukta-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: RozhaOne;
	src: url('../../assets/fonts/RozhaOne-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
